* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

body {
  width: 90%;
  margin: 0 auto;
  background-color: #1c2431;
  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

body header {
  width: 100%;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .logo img {
  max-height: 50px;
}

body header #menu a {
  text-decoration: none;
  color: #ffffffbb;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  margin-left: 3rem;
}

body main {
  margin: 0 auto;
  max-width: 60%;
  margin-bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main #mockup-image img {
  width: 90%;
}

body main h1 {
  width: 90%;
  margin-top: 20px;
  font-size: 2.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: white;
}

body main p {
  width: 90%;
  margin-top: 1.8rem;
  font-size: 21px;
  color: white;
}

body main a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  text-shadow: 1px 2px 7px #151515;
  background: -webkit-gradient(linear, right top, left top, color-stop(20%, #339ecc), color-stop(90%, #65e2d9));
  background: linear-gradient(270deg, #339ecc 20%, #65e2d9 90%);
  margin-top: 1.5rem;
  padding: 18px 80px;
  border-radius: 3rem;
}

body #grid-cards {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(250px, 1fr));
  row-gap: 2rem;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body #grid-cards .card-features {
  max-width: 75%;
  border: 1px solid yellow;
}

body #works-section {
  width: 90%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
}

body #works-section #illustration-image {
  width: 50%;
  margin-right: 2rem;
}

body #works-section #illustration-image img {
  width: 100%;
}

body #works-section #section-content {
  width: 50%;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
}

body #works-section #section-content h1 {
  max-width: 55%;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 1.5rem;
}

body #works-section #section-content p {
  margin-bottom: 1.1rem;
}

body #works-section #section-content a {
  color: #65e2d9;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3px;
  border-bottom: 1px solid #65e2d9;
}

body #works-section #section-content a img {
  margin: 2px 0 0 4px;
}

body #testimonials .card-testimonials {
  background-color: #202a3c;
}

body footer {
  background-color: #0b1523;
}

svg {
  width: 40px;
}
/*# sourceMappingURL=style.css.map */