* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  color: white;
}

body {
  width: 90%;
  margin: 0 auto;

  background-color: hsl(217, 28%, 15%);

  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;

  header {
    width: 100%;
    padding: 40px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      img {
        max-height: 50px;
      }
    }

    #menu {
      a {
        text-decoration: none;
        color: #ffffffbb;
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;

        margin-left: 3rem;
      }
    }
  }

  main {
    margin: 0 auto;
    max-width: 60%;

    margin-bottom: 6rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #mockup-image {
      img {
        width: 90%;
      }
    }

    h1 {
      width: 90%;
      margin-top: 20px;

      font-size: 2.5rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      color: white;
    }

    p {
      width: 90%;
      margin-top: 1.8rem;

      font-size: 21px;
      color: white;
    }

    a {
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-size: 1rem;
      text-shadow: 1px 2px 7px #151515;

      background: linear-gradient(270deg, hsl(198, 60%, 50%) 20%, hsl(176, 68%, 64%) 90%);
      margin-top: 1.5rem;
      padding: 18px 80px;

      border-radius: 3rem;
    }
  }

  #grid-cards {
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));

    row-gap: 2rem;

    justify-items: center;
    align-content: center;

    border: 1px solid red;

    .card-features {
      border: 1px solid yellow;

      max-width: 75%;
      // To do -> Card style
    }
  }

  #works-section {
    margin-top: 5rem;

    // Stop here

    display: flex;
    align-items: center;
  }

  #testimonials {
    .card-testimonials {
      background-color: hsl(219, 30%, 18%);
    }
  }

  footer {
    background-color: hsl(216, 53%, 9%);
  }
}

svg {
  width: 40px;
}