* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

body {
  background-image: url("../images/bg-desktop.svg");
  background-color: #674baf;
  background-repeat: no-repeat;
  width: 88%;
  height: 100%;
  margin: 0 auto;
}

body header {
  margin: 40px 0;
}

body header img {
  max-height: 75px;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #674baf;
}

body main #mockups {
  width: 55%;
  padding-top: 20px;
}

body main #mockups img {
  width: 90%;
}

body main #content {
  width: 45%;
  height: 100%;
  padding: 0.5rem 2rem;
  margin-bottom: 50px;
  margin-top: 10px;
}

body main #content h1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
}

body main #content p {
  color: white;
  margin-top: 1rem;
  margin-bottom: 35px;
  font-size: 0.95rem;
  font-weight: 400;
}

body main #content #button {
  text-decoration: none;
  background: white;
  color: #674baf;
  padding: 12px 50px;
  border-radius: 32px;
  -webkit-box-shadow: 2px 3px 8px black;
          box-shadow: 2px 3px 8px black;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

body main #content #button:hover {
  color: white;
  background-color: #e882e8;
}

body footer {
  height: 2rem;
  position: relative;
  bottom: -1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .attribution p {
  font-size: 13px;
}

body footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body footer div svg {
  width: 40px;
  fill: white;
  margin-left: 0.5rem;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

body footer div svg:hover {
  fill: #e882e8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  body {
    width: 90%;
    margin: 0 auto;
  }
  body header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main #mockups {
    width: 100%;
  }
  body main #mockups img {
    width: 100%;
  }
  body main #content {
    width: 100%;
    text-align: center;
  }
  body footer {
    margin: 40px 0;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body footer p {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */