* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #090B1A;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 15px;
  color: #ffffff;
}

#card {
  background: #1B1938; 
  max-height: 500px;
  max-width: 1100px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 12px;

  margin: 0 20px;
}

#image-header {
  width: 48%;
  height: 100%; 
  position: relative;
}

#image-header img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#image-header::before {
  content: "";
  position: absolute;
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: #6c16a1;
  opacity: 55%;

  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#card-main {
  width: 52%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 5rem 4rem;
}

.text-primary {
  font-family: 'Inter', sans-serif;
}

.text-secondary {
  font-family: 'Lexend Deca', sans-serif;
}

#header-title {
  max-width: 420px;

  font-size: 17px;
  font-weight: 700;
  margin-bottom: 30px;

  display: inline;
}

#header-title b {
  color: #AA5CDB;
}

#header-subtitle {
  max-width: 420px;
  font-size: 16px;
  line-height: 22px;

  color: #ffffffaf;

  margin-bottom: 75px;
}

#header-stats {
  max-width: 420px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.stats-item-p1 {
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

.stats-item-p2 {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffffaf;

  margin-top: 7px;
}

#attribution {
  position: absolute;
  bottom: 40px;
  margin: 0 auto;

  font-size: 13px;
  color: #ffffffaf;
}

#attribution a:link {
  text-decoration: none;
}

#attribution a:hover {
  text-decoration: none;
  color: #AA5CDB;
}